{# templates/city/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Daylight Data for
	{{ cityName|capitalize }}
	and
	{{ cityName2|capitalize }}
{% endblock %}

{% block body %}
	<h1>Daylight Data for
		{{ cityName|capitalize }}
		and
		{{ cityName2|capitalize }}</h1>

	<div id="react-root" data-city-name="{{ cityName }}" data-city-name2="{{ cityName2 }}"></div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ vite_entry_script_tags('/frontend/src/main.jsx') }}
	<!-- Load the React app -->
{% endblock %}
